body {
    background-image: url(/assets/pexels-picjumbocom-196667);
    /* mix-blend-mode: screen; */
    /* z-index: -1; */
    background-size: cover;
    /* opacity: 0.8; */
}
.tabla {
    background-color: lightgray;
    opacity: 0.8;
}